header .img-fluid {
width: 100px;
height: 100px;
}
footer .img-fluid {
width: 100px;
height: 100px;
}
footer {
background-color: black;
}
body {
background-color: orange;
padding: 0px;
margin: 0px;
}
.carrusel {
height: 500px;
padding-left: 10px;
padding-right: 10px;
}
.indexfooter {
padding-top: 50px;
}
svg {
height: 50px;
width: 50px;
color: orange;
}
.bg-light {
background-color: black !important;
}
.paddingnav {
padding-right: 0px;	
}
.colores {
color: orange !important;
}
.alinear {
align-items: center;
}
.distcard {
padding-top: 20px;
}
.subtitulo {
color: black;
text-align: center;
font-family: 'Ubuntu', sans-serif;
font-weight: 700;
padding-top: 20px;
padding-bottom: 20px;
filter: drop-shadow(1px 2px);
}
p {
color: orange;
font-family: 'Newsreader', serif;
font-weight: 300;
margin-bottom: 0px;
filter: drop-shadow(1px 1px);
}
.negrita {
font-family: 'Newsreader', serif;
font-weight: 800;
filter: drop-shadow(1px 1px);
}
.table {
color: orange;
background-color: black;
}
td {
font-family: 'Newsreader', serif;
font-weight: 300;
filter: drop-shadow(1px 1px);
}
th {
font-family: 'Newsreader', serif;
font-weight: 800;
filter: drop-shadow(1px 1px);
}
.cartas {
padding-bottom: 20px;
}
.margen {
margin-bottom: 20px;
}
h2 {
color: black;
font-style: italic;
font-family: 'Newsreader', serif;
font-weight: 200;
padding-top: 20px;
padding-bottom: 20px;
}
footer {
padding-bottom: 20px;
}
footer h2 {
color: orange;
font-style: italic;
font-family: 'Newsreader', serif;
font-weight: 300;
padding-top: 0px;
filter: drop-shadow(1px 1px);
}
h5 {
color: white;
text-align: center;
text-transform: uppercase;
font-family: 'Ubuntu', sans-serif;
font-weight: 700;
padding-top: 50px;
padding-bottom: 20px;
filter: drop-shadow(1px 1px);
}
h6 {
color: orange;
font-family: 'Newsreader', serif;
font-weight: 300;
padding-top: 20px;
filter: drop-shadow(1px 1px);
}
.sombra {
filter: drop-shadow(1px 1px);
}
.pcarousel {
color: white;
filter: drop-shadow(1px 1px);
}
h3 {
color: orange;
text-align: center;
font-family: 'Ubuntu', sans-serif;
font-weight: 300;
filter: drop-shadow(1px 1px);
}
form {
color: black;
font-family: 'Newsreader', serif;
font-weight: 200;
font-style: italic;
}
.boton {
color: orange;
}
article div img {
width: 300px;
height: 150px;
}
.distancia {
margin-top: 50px;
}
li{list-style-type: none;
}
.imglogo {
width: 200px;
height: 200px;
}
.boxcontacto {
margin-top: 30px;
}
.card {
background-color: black;
}
.fotos {
padding: 1.25rem;
}
.centro {
text-align: center;
}
@media (max-width: 414px) {
.carrusel {
height: 200px;
}
}
@media (max-width: 768px) {
.card {
margin-top: 50px;
}
.distfooter {
padding-bottom: 20px;
}
.navbar-toggler {
background-color: orange !important;
}
}
@media (min-width: 1024px) {
.card
{
margin-right: 100px;}
}